.header{
  padding-top: 45px;
  width: 68.7500%;
  border-bottom: 1px solid #545454;
}

.header__img{
  padding-bottom: 41px;
}

/* @media screen and (min-width: 321px) and (max-width: 1279px){
  .header{
    padding-top: 30px;
    width: 33.08%;
  }
} */

/* @media screen and (max-width: 320px) {
  .header{
    padding-top: 20px;
    width: 58.75%;
    text-align: center;
  }
} */
