.popup-image{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter;
}

.popup-image__container{
  position: relative;
  top: 90px;
  margin: 0;
  width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  visibility: hidden;
}

.popup-image__container-close{
  width: 70vh;
  top: 91px;
  align-items: flex-end;
  left: 30px;
}
.popup-image__container-x{
  width: 40px;
  height: 40px;
}

.popup-image__container-close-x:hover{
  opacity: 0.6;
  cursor: url('../images/hand_over.png'), auto;
}

.popup-image__container-display{
  position: relative;
  top: 90px;
  width: 70vh;
  align-self: center;
  z-index: 2;
}

.popup-image__container-title{
  position: relative;
  width: 70vh;
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  align-self: flex-start;
  color: #FFFFFF;
  align-self: center;
  align-items: flex-start;
}

@media screen and (max-width: 880px){

  .popup-image__container{
    top: 100px;
    width: 320px;
  }

  .popup-image__container-close{
    top: 0;
    width: 75%;
  }

  .popup-image__container-display{
    top: 0;
    width: 75%;
    max-height: 75vh;
  }

  .popup-image__container-title{
    top: 0;
    width: 75%;
  }
}
